# Python bytecode:
*.py[co]
__pycache__

# Packaging files:
*.egg*
backend/venv

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule
ENV

/.idea
backend/.idea